<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header jude_bellingham">

        <div class="row siuuu">
            <div class="col-md-10 col-12 mx-auto ">
                <div class=" main_header_left align-items-center">
                    <figure class="errimg hala_madrid">
                        <img src="images/404.png" alt="thapa" title="thapatechnical" class="img-fluid">
                    </figure>
                    <p>Hala Madrid</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>

        </div>
    </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            Made With ❤️
        </p>
    </footer>
</body>

</html>