<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/me_iira.jpg" alt="tan" title="tan" class="img-fluid myphoto">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Heyy there !! </p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span></h1>
                        <a href="https://portfolio-iamtanmay07.netlify.app/" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            Made With ❤️
        </p>
    </footer>
</body>

</html>